:root {
    --swiper-theme-color: #333;
}

/* mobile */
section {}
section h2 {
    font-family: 'Homemade Apple';
    font-size: 26px;
    color: #707070;
    text-align: center;
}

#visual {
    position: relative;
}
.main-visual {
    height: 350px;
    width: 100vw;
    object-fit: cover;
    object-position: 40%;
}
.deco-line {
    display: none;
}
.deco-circle {
    position: absolute;
    left: 25px;
    width: 90px;
    bottom: -20px;
}
#visual h2 {
    position: absolute;
    text-align: right;
    right: 25px;
    bottom: 80px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
    color: #333;
    font-family: 'Pretendard';
}
#visual h2::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0;
    width: 96px;
    height: 4px;
    background-color: #fff;
}


#brand-story {
    margin-top: 80px;
}
.center-box {
    text-align: center;
}
.center-box h2 {
    position: relative;
    margin-bottom: 80px;
    display: inline-block;
}
.center-box h2 span {
    font-size: 12px;
    font-family: 'Pretendard';
    position: absolute;
    left: 0;
    bottom: -24px;
}
.philosophy {
    padding: 0 25px;
}
.philosophy h3 {
    font-weight: 600;
    margin-bottom: 20px;
}
.philosophy .slogan {
    display: inline-block;
    margin-bottom: 20px;
}
.philosophy p {
    line-height: 1.6;
}
#more {
    display: none;
}
#btn-read-more {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #B0CBD5;
    border-radius: 20px;
    width: 110px;
    height: 36px;
    margin-top: 12px;
}

#brand-story article {
    margin-top: 130px;
    background-color: #FAFAFA;
    position: relative;
}
#brand-story article img {
    width: 220px;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
}
#brand-story article h4 {
    font-family: 'Cormorant';
    padding-top: 330px;
    font-size: 44px;
    text-align: center;
    color: #B0CBD5;
}
#brand-story article p {
    display: block;
    padding: 0 25px;
    padding-bottom: 80px;
    line-height: 1.6;
    margin-top: 40px;
}

#main-item {
    margin-top: 100px;
}
.description {
    padding: 40px 0px 90px 0px;
}
.description h4 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
}
.description p {
    line-height: 1.6;
}

.candle-1 {
    margin-top: 44px;
    padding: 0 25px;
}
.candle-1 .description {
    text-align: right;
}
.candle-1 .description h4 {
    color: #B0CBD5;
}
.candle-1 .display-1 {
    position: relative;
}
.candle-1 .display-1 p {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    line-height: 1.6;
    font-size: 14px;
}

.candle-2 .description {
    margin: 0 25px;
}
.candle-2 .description h4 {
    color: #AF9598;
    line-height: 1.35;
}

.candle-more {
    background-color: #FAFAFA;
    padding: 60px 0;
    padding-left: 25px;
}
.candle-more h5 {
    font-weight: 500;
    position: relative;
    margin-bottom: 50px;
    z-index: 1;
}
.candle-more h5 span {
    font-family: 'Homemade Apple';
    font-weight: normal;
    color: #dfdfdf;
    position: absolute;
    right: 25px;
    bottom: -14px;
    z-index: 0;
}
.moreItems {
    padding-right: 25px;
    padding-bottom: 36px;
}
.moreItems .swiper-slide {
    position: relative;
}
.moreItems .swiper-slide img {
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}
.moreItems .swiper-slide .info {
    display: none;
}

.moreItems .swiper-slide .btn-wish {
    display: none;
}
.moreItems .swiper-pagination {}

/* tablet */
@media screen and (min-width: 768px) {
    section h2 {
        font-size: 30px;
    }
    .main-visual {
        height: inherit;
        object-position: 0%;
    }
    .deco-circle {
        left: 60px;
        width: 124px;
        bottom: 10px;
    }
    #visual h2 {
        font-size: 26px;
        right: 60px;
        bottom: 120px;
    }

    .center-box h2 {
        margin-bottom: 100px;
    }
    .center-box h2 span {
        font-size: 14px;
    }
    .philosophy {
        padding: 0 60px;
    }
    #more {
        display: inline;
    }
    #btn-read-more {
        display: none;
    }

    #brand-story article {
        margin-top: 180px;
    }
    #brand-story article img {
        width: 280px;
        top: 200px;
    }
    #brand-story article h4 {
        font-size: 80px;
        padding-top: 410px;
    }
    #brand-story article p {
        padding: 0 60px;
        padding-bottom: 90px;
    }

    #main-item {
        margin-top: 120px;
    }
    .description {
        padding: 70px 0px 200px 0px;
    }
    .description h4 {
        font-size: 40px;
        margin-bottom: 30px;
    }
    .description p {
        font-size: 18px;
    }

    .candle-1 {
        margin-top: 96px;
        padding: 0 60px;
    }
    .candle-1 .display-1 img {
        width: 440px;
        margin-left: auto;
        display: block;
    }
    .candle-1 .display-1 p {
        font-size: 16px;
        width: 286px;
        right: -60px;
        bottom: 40px;
        transform: none;
    }

    .candle-2 {
        padding-right: 60px;
    }
    .candle-2 .grid-visual {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column: 1 / span 2;
        gap: 30px;
    }
    .candle-2 .grid-visual .display-2 {
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }
    .candle-2 .grid-visual div {
        background-size: contain;
        background-repeat: no-repeat;
    }
    .candle-2 .grid-visual .visual-1 {
        background-image: url(../img/visual-1.png);
    }
    .candle-2 .grid-visual .visual-3 {
        background-image: url(../img/visual-3.png);
    }
    .candle-2 .grid-visual .visual-2,
    .candle-2 .grid-visual .visual-4 {
        display: none;
    }
    .candle-2 .description {
        margin: 0 60px;
    }

    .candle-more {
        padding: 80px 0;
        padding-left: 60px;
    }
    .candle-more h5 {
        font-size: 20px;
        margin-bottom: 80px;
    }
    .candle-more h5 span {
        right: 60px;
    }
    .moreItems {
        padding-right: 60px;
    }
    .moreItems .swiper-slide img {
        height: 350px;
        filter: brightness(70%);
    }
    .moreItems .swiper-slide .info {
        display: block;
        position: absolute;
        top: 40px;
        left: 20px;
        color: #fff;
        mix-blend-mode: screen;
        width: 100%;
    }
    .moreItems .swiper-slide .info .title {
        font-weight: 600;
        margin-bottom: 8px;
    }
    .moreItems .swiper-slide .info .fragrance {
        font-size: 14px;
    }
    .moreItems .swiper-slide .btn-wish {
        display: block;
        height: 30px;
        width: 40px;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translate(-50%, 0%);
        background-image: url(../img/i_detail.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        border: 1px solid #fff;
        border-radius: 14px;
    }
    .moreItems .swiper-slide .btn-wish:hover {
        transform: scale(1.1);
        transform-origin: 0 100%;
    }
    
}
/* pc */