@charset "utf-8";
@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@font-face {
	font-family: 'Canela';
	font-style: normal;
	font-weight: normal;
	src: url('../font/Canela-Medium-Trial.otf') format('opentype');
}
@font-face {
	font-family: 'Cormorant';
	font-style: normal;
	font-weight: normal;
	src: url('../font/Cormorant-VariableFont_wght.ttf') format('truetype');
}
@font-face {
	font-family: 'Homemade Apple';
	font-style: normal;
	font-weight: normal;
	src: url('../font/HomemadeApple-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: local('Pretendard Variable'), url('../font/PretendardVariable.woff2') format('woff2-variations');
}

/* reset */
* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
a {
    text-decoration: none;
    color: inherit;
    display: block;
    cursor: pointer;
}
img {
    max-width: 100%;
}
body {
    font-family: 'Pretendard', sans-serif;
    font-weight: 250;
    color: #333;
    user-select: none;
}

/* 양쪽 마진 (모바일, 태블릿, 데스크톱 순) */
.inner-wrap {
    margin: 0 25px;
}
@media screen and (min-width: 768px) {
    .inner-wrap {
        margin: 0 60px;
    }
}
@media screen and (min-width: 1280px) {
    .inner-wrap {
        margin: 0 120px;
    }
}

  
button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
}
button:focus {
    outline: none;
}
input {
    outline: none;
    border: none;
}